.vacation-dashboard-container {
    display: flex;
    font-family: 'Arial', sans-serif;
}

.main-form-container {
    flex-grow: 1;
    padding: 20px;
    overflow: auto; /* Ensure the container can scroll */
}

.table-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.page-name {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;

}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}
.tabletext{
    color: #fff;
}

.custom-table thead {
    background-color: #007AD3;
    color: #fff;
}

.custom-table th, .custom-table td {
    padding: 12px 15px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
}

.custom-table tbody tr {
    border-bottom: 1px solid #e0e0e0;
}

.custom-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
    background-color: #f1f1f1;
}

.action-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.action-icon:hover {
    transform: scale(1.2);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007AD3;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
}
.button-container {
    margin-top: -40px;
}