
  .vacation-request-button {
    background-color: #009FE3;
    font-size: 16px;
    color: #fff;
    padding: .5rem 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: 700;
    transition: all .2s;
  }
  
  .vacation-main-header button:hover {
    background-color: #009fe3d5;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
  }

  .vacation-header {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .search-bar {
    width: 300px;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .section-header h2 {
    margin: 0;
  }
  
  .section-header a {
    color: #009FE3;
    text-decoration: none;
  }


  .vacation-form-wrapper {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
  }

  .vacation-checkbox-input {
    display: flex;
  }

  .vacation-form-wrapper label {
    font-weight: 700;
    font-size: 16px;
    color: #101010;
  }

  .vacation-form-wrapper input {
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 16px;
    border: 1px solid #101010;
  }

  .vacation-form-wrapper select {
    padding: .6rem .4rem;
    border-radius: 1rem;
    font-size: 16px;
  }

  .vacation-form-submit {
    width: 100%;
    background-color: #009FE3;
    color: #fff;
    padding: .8rem 0;
    border: none;
    font-size: 16px;
    border-radius: 1rem;
    margin-top: 1rem;
  }