


.page-name{
    font-size: 36px;
    font-weight: bold;
}

.main-form-container{
    width: 100%;
    padding: 40px;
    height: 100vh;
    font-family: "BPG Rioni", sans-serif;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 40px;
    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* index.css */

/* General styles for the form */
.task-report-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Styles for labels */
.task-report-form label {
    font-weight: bold;
    margin-bottom: 4px;
}

/* General styles for inputs */
.task-report-form input,
.task-report-form textarea,
.task-report-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Specific styles for the select element */
.task-report-form select {
    appearance: none; /* Remove default dropdown arrow */
    background: #fff url("data:image/svg+xml;utf8,<svg fill='%23333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    background-size: 16px 16px;
    padding-right: 30px; /* Space for the arrow */
}

/* Style for options */
.task-report-form option {
    padding: 10px;
    background: #fff;
    color: #333;
}

/* Hover effect for options */
.task-report-form option:hover {
    background: #f0f0f0;
}

/* Style for the submit button */
.button-container button {
    background-color: #FFE61C;
    color: #018AD1;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
    color: #FFF;
}
