@import url("//cdn.web-fonts.ge/fonts/bpg-rioni/css/bpg-rioni.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "BPG Rioni", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "BPG Rioni", sans-serif;
  margin: 0;
  padding: 0;
}

